@import "./../../../styles/breakpoints.scss";

.root {
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;

  border: none;
  outline: none;
  background-color: #e7f1fe;
  border-radius: 14px;

  font-size: 20px;
  line-height: 28px;

  &,
  &::placeholder {
    font-size: 20px;
    line-height: 28px;
  }

  &::placeholder {
    color: #71717a;
  }

  @include tablet {
    padding: 5px 10px;
    border-radius: 7px;

    &,
    &::placeholder {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
