.root {
  margin-top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  text-align: center;
}

.title {
  display: block;
  width: 100%;
  max-width: 150px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priority {
  display: block;
  width: 100%;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  flex: 1 1 0;
}
