@import "./../../../styles/breakpoints.scss";
@import "./../../../styles/colors.scss";

.root {
  padding-bottom: 50px;
}

.title {
  padding: 46px 0;
  font-size: 40px;
  line-height: 50px;
  font-weight: bold;
  letter-spacing: 10%;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 5%;
  }
}

.events {
  margin-top: 20px;
}
