@import "./../../../../styles/colors.scss";

.root {
  padding: 20px;
  border-radius: 20px;
  background-color: $white;
}

.calendar {
  margin-top: 20px;
}

.month {
  font-size: 20px;
  line-height: 28px;
}

.week {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 120px;

  & + & {
    margin-top: 5px;
  }
}

.day {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #d1f4e0;
  transition: background-color 0.3s ease;

  &.empty {
    cursor: not-allowed;
    background-color: #e1e2e3;
  }

  &:hover {
    background-color: #9cceb2;

    &.empty {
      background-color: #e1e2e3;
    }
  }
}

.buttons {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.info {
  text-align: right;
}

.planned,
.withHigh {
  font-size: 14px;
  color: rgba($black, 0.65);
}
